<a href="https://colab.research.google.com/github/KILjungjoon/Project_Korean/blob/main/%EC%9A%B0%EB%A6%AC%EB%A7%90%EC%83%98%ED%91%9C%EC%A4%80%EC%82%AC%EC%A0%84%EB%B2%88%ED%98%B8%EB%B3%80%EA%B2%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
cd "/content/drive/MyDrive/KoreanProject/data/우리말샘표준데이터"

/content/drive/MyDrive/KoreanProject/data/우리말샘표준데이터

In [6]:
!unzip -qq "/content/drive/MyDrive/KoreanProject/data/우리말샘표준데이터추출_20190313.zip"

In [27]:
# 10개의 데이터파일을 합치기
import pandas as pd
Dic=[]
for i in range(1, 11) :
  num=str(i).zfill(2)                     # 두 자릿수 스트링으로 변환
  df=pd.read_excel('/content/drive/MyDrive/KoreanProject/data/우리말샘표준데이터/DATA_'+num+'.xlsx')
  df_drop=df[['우리말샘 표제어', '우리말샘 의미 번호','표준 표제어', '표준 어꺠번호']].dropna(axis=0)   # 필요한 컬럼만 추출+결측값 행 삭제
  Dic.append(df_drop)                     # 리스트로 저장

df_all=pd.concat(Dic, ignore_index=True)  # concat으로 합치기

In [30]:
df_all

       우리말샘 표제어  우리말샘 의미 번호  표준 표제어  표준 어꺠번호
0             ㄱ         1.0       ㄱ      1.0
1            -ㄱ         2.0      -ㄱ      2.0
2         ㄱㄴㄷ-순         1.0   ㄱㄴㄷ-순      0.0
3        ㄱㄴㄷ-차례         1.0  ㄱㄴㄷ-차례      0.0
4          ㄱㄴ-순         1.0    ㄱㄴ-순      0.0
...         ...         ...     ...      ...
592428                1.0            0.0
592429    -쵸마         1.0   -쵸마      0.0
592430     -다         1.0    -다      0.0
592431                1.0            0.0
592432       다         1.0      다      0.0

[592433 rows x 4 columns]

In [31]:
# 실수형 자료를 -.정수형->스트링으로 바꾼다
df_all[['우리말샘 의미 번호', '표준 어꺠번호']]=df_all[['우리말샘 의미 번호', '표준 어꺠번호']].astype(int)
df_all[['우리말샘 의미 번호', '표준 어꺠번호']]=df_all[['우리말샘 의미 번호', '표준 어꺠번호']].astype(str)

In [32]:
df_all['우리말샘 의미 번호']='00'+df_all['우리말샘 의미 번호']
df_all['표준 어꺠번호']='0'+df_all['표준 어꺠번호']
df_all['우리말샘 표제어']=df_all['우리말샘 표제어'].replace('[-^]','',regex=True)
df_all['표준 표제어']=df_all['표준 표제어'].replace('[-^]','',regex=True)
df_all['우리말샘표제어']=df_all['우리말샘 표제어']+df_all['우리말샘 의미 번호']
df_all['표준표제어']=df_all['표준 표제어']+df_all['표준 어꺠번호']
df_all.head(10)

  우리말샘 표제어 우리말샘 의미 번호 표준 표제어 표준 어꺠번호   우리말샘표제어    표준표제어
0        ㄱ        001      ㄱ      01      ㄱ001      ㄱ01
1        ㄱ        002      ㄱ      02      ㄱ002      ㄱ02
2     ㄱㄴㄷ순        001   ㄱㄴㄷ순      00   ㄱㄴㄷ순001   ㄱㄴㄷ순00
3    ㄱㄴㄷ차례        001  ㄱㄴㄷ차례      00  ㄱㄴㄷ차례001  ㄱㄴㄷ차례00
4      ㄱㄴ순        001    ㄱㄴ순      00    ㄱㄴ순001    ㄱㄴ순00
5     ㄱㄴ차례        001   ㄱㄴ차례      00   ㄱㄴ차례001   ㄱㄴ차례00
6      ㄱ자쇠        001    ㄱ자쇠      00    ㄱ자쇠001    ㄱ자쇠00
7      ㄱ자자        001    ㄱ자자      00    ㄱ자자001    ㄱ자자00
8      ㄱ자집        001    ㄱ자집      00    ㄱ자집001    ㄱ자집00
9     ㄱ자촉홈        001   ㄱ자촉홈      00   ㄱ자촉홈001   ㄱ자촉홈00

In [34]:
df_all[['우리말샘표제어',	'표준표제어']].to_excel("/content/drive/MyDrive/KoreanProject/가공data/우리말샘_표준_대조.xlsx", index=False)

In [35]:
# 저장된 파일 확인
df=pd.read_excel("/content/drive/MyDrive/KoreanProject/가공data/우리말샘_표준_대조.xlsx")
df

         우리말샘표제어    표준표제어
0           ㄱ001      ㄱ01
1           ㄱ002      ㄱ02
2        ㄱㄴㄷ순001   ㄱㄴㄷ순00
3       ㄱㄴㄷ차례001  ㄱㄴㄷ차례00
4         ㄱㄴ순001    ㄱㄴ순00
...          ...      ...
592428     001     00
592429   쵸마001   쵸마00
592430    다001    다00
592431     001     00
592432     다001     다00

[592433 rows x 2 columns]

In [36]:
df[df['우리말샘표제어'].str.contains('천국')]

              우리말샘표제어         표준표제어
179305         모천국001         모천국00
179306       모천국주의001       모천국주의00
224338       보행자천국001       보행자천국00
385431         월천국001         월천국00
407678      인천국제공항001      인천국제공항00
407679  인천국제공항고속도로001  인천국제공항고속도로00
449829        제칠천국001        제칠천국00
449830        제칠천국002        제칠천국00
471768        지상천국001        지상천국00
491559          천국001          천국01
491560          천국002          천국01
491561          천국003          천국01
491562          천국004          천국02
491563      천국과 지옥001      천국과 지옥00
523292        태평천국001        태평천국00
523293        태평천국002        태평천국00
523294      태평천국운동001      태평천국운동00

* 2개의 사전 번호가 잘 매칭되어 있다.